<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Recipe Name</label>
          <input type="text" id="item-name" required class="form-control" />
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-Amount/Qunatity">Amount/Quantity</label>
          <input type="text" id="item-Amount/Quantity" required class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success">ADD</button>
          <button class="btn btn-primary">Clear</button>
          <button class="btn btn-danger">Delete Item</button>
        </div>
      </div>
    </form>
  </div>
</div>
