<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Recipe-Book</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping-List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" rbDropdown>
          <a href="#" class="dropdown-toggle" role="button" aria-expanded="false">user <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"> Login</a></li>
            <li><a href="#"> Other</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
